<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

<form th:action="@{/login}" th:object="${acc}" method="post">
    <h1>Login page</h1>
    Username: <input type="text" th:field="*{username}"> <br/> <br/>
    Password: <input type="password" th:field="*{password}"> <br/> <br>
    <button type="submit">Submit</button>

    <h1>List Users: </h1>
    <ul th:each=" item : ${accs}">
        <li th:text="${item.username}"></li>
    </ul>
</form>

</body>
</html>